<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trending Looks</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>	
</head>

<body>

	<div id="app">
		<section class="section">
			<div class="container"> 
				<div class="columns">
					<template v-for="product in products">
						<div class="column">
							<div class="card">
								<div class="card-image">
									<figure class="image">
										<img :src="'images/'+product.images[0]" 
											:alt="product.brand + ' ' + product.name" 
											:title="product.brand + ' ' + product.name">
									</figure>
								</div>
								<div class="card-content">
									<div class="title is-4">{{ product.name }}</div>
									<div class="level">
										<div class="level-left">
											<div class="level-item">
												${{ product.price }}
											</div>
										</div>
										<div class="level-right">
											<div class="level-item">
												<ul>
													<li v-for="color in product.colors" :style="'color:'+color">
														<i class="fas fa-circle"></i>
													</li>
												</ul>
											</div>
											
										</div>
									</div>												
								</div>
							</div>
						</div>
					</template>
				</div>	
			</div>
		</section>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					<strong>Trending Looks</strong> by <a href="#">Kenold Beauplan</a>
				</p>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="js/app.js"></script>

</body>
</html>